[alias]
  tree = log --oneline --decorate --all --graph
[core]
  quotepath = false
[color]
  ui = true
[log]
  decorate = full
[push]
  default = current
[user]
  name  = Luis Vasconcellos
  email = vasconcelloslf@gmail.com
