[alias]
  tree = log --oneline --decorate --all --graph
[user]
  name  = Luis Vasconcellos
  email = vasconcelloslf@gmail.com
[core]
  quotepath = false
	excludefiles = /Users/vasconcelloslf/.gitignore
[color]
  ui = true
[log]
  decorate = full
[push]
  default = current
[help]
	autocorrect = 1
